/* Her starter desktop css */

/* Header */

.logo {
  width: 160px;
  height: 100%;
}

.socials img {
  width: 50px;
  height: 100%;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.socials img:hover {
  opacity: 1;
}

/* Body */

h1 {
  font-size: var(--desktop-font-size-h1);
}

h2 {
  font-size: var(--desktop-font-size-h2);
}

h3 {
  font-size: var(--desktop-font-size-h3);
}

h4 {
  font-size: var(--desktop-font-size-h4);
}

p {
  font-size: var(--desktop-font-size-p);
}

main {
  padding: 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--color-head-bg);
  padding: 40px 20px;
  gap: 20px;
}

.kiflogosvg {
  width: 120px;
  height: auto;
}
.dgilogo {
  width: 150px;
  height: auto;
}
.gymdanmarklogo {
  width: 200px;
  height: auto;
}
/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  /* Header */
  .logo {
    width: 100px;
    height: 100%;
    order: 1;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 15px;
    order: 2;
  }

  .socials img {
    width: 25px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  .socials img:hover {
    opacity: 1;
  }

  .burger {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    order: 3;
    z-index: 10;
    margin-left: 10px;
  }

  /* Body */
  h1 {
    font-size: var(--mobile-font-size-h1);
  }

  h2 {
    font-size: var(--mobile-font-size-h2);
  }

  h3 {
    font-size: var(--mobile-font-size-h3);
  }

  h4 {
    font-size: var(--mobile-font-size-h4);
  }

  p {
    font-size: var(--mobile-font-size-p);
  }

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .kontaktlink {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .kiflogosvg {
    width: 80px;
  }
  .dgilogo {
    width: 120px;
  }
  .gymdanmarklogo {
    width: 160px;
  }
}

/* Her slutter mobile css */

/* Her starter generelt css */

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #779fe5;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

.menu a {
  color: #fff;
}

.menu a:hover {
  color: var(--hover-color);
}

/*************/
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  display: none;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s linear;
}

@media (width<=450px) {
  .menu {
    display: none;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
  }

  nav.active .menu {
    display: block;
    background-color: #779fe5;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/*************/

a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

form {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

ul {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footer {
  justify-content: space-between;
  align-items: center;
}

.kontaktlink {
  color: #fff;
  text-decoration: none;
}
/* Her slutter generelt css */
