.hold-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 90px;
  row-gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
}

.hold-card {
  text-align: center;
}

.hold-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  padding-top: 80px;
}

.hold-card h3 {
  margin: 16px 0 8px;
}

/* *************** knap ******************* */
.hold-card a {
  display: inline-block;
  background-color: #3f51ff;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* ************************* herobillede ************************* */

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 400px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(75, 120, 200, 0.6);
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

/*********************************************************************/
